<div class="add-button mt-2">
  <button mat-raised-button color="primary" (click)="openAddDialog()">
    Tambah Pengguna
  </button>
</div>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 mt-2">
  <!-- Kolom Nama -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Nama</th>
    <td mat-cell *matCellDef="let user">{{ user.name }}</td>
  </ng-container>

  <!-- Kolom Email -->
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef>Email</th>
    <td mat-cell *matCellDef="let user">{{ user.email }}</td>
  </ng-container>

  <!-- Kolom Aksi -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Aksi</th>
    <td mat-cell *matCellDef="let user">
      <button mat-icon-button (click)="editUser(user)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button (click)="deleteUser(user.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="['name', 'email', 'actions']"></tr>
  <tr mat-row *matRowDef="let row; columns: ['name', 'email', 'actions']"></tr>
</table>
<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="10" [showFirstLastButtons]="true"
  [length]="users.length" (page)="onPageChange($event)"></mat-paginator>
